#documentation{
    .docs-header-container{
        background-color: lightgray;
        padding: 5vh 5vw;
    }
    #docs-container{
        display: grid;
        grid-template-columns: auto 1fr;
        margin: 20px 0px;
        margin-bottom: 20vh;
        .docs-col1{
            margin-right: 20px;
            .docs-options{
                padding: 15px;
                background-color: lightgrey;
                min-width: 200px;
                height: auto;
                li{
                    margin: 10px 0px;
                    .tb{
                        font-size: 18px;
                        &.focused{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .docs-col2{
            margin: 0px 30px;
        }
    }
}