@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin row(){
  display: flex;
  align-items: center;
}

@mixin col(){
  @include row();
  flex-direction: column;
}

@mixin center(){
  @include row();
  justify-content: center;
}

@mixin hoverer1{
  transition: opacity 0.2s;
  opacity: 1;
  &:hover{
    opacity: 0.7;
  }
}


@mixin hoverer2{
  transition: opacity 0.2s;
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}

@mixin sbstyle{
  background-color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 20px;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 3px lightgray;
  border: none;
  @include hoverer1();
}

.sb{
  @include sbstyle();
}

button .plus-icon{
  margin-right: 5px;
}

@mixin tbstyle{
  background-color: transparent;
  border:none;
  font-size: 15px;
  @include hoverer1();
}

.tb{
  @include tbstyle();
}

@mixin buttonStyle{
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgrey;
  font-size: 16px;
  font-weight: bold;
  @include hoverer1();
}

@mixin sistyle{
  font-size: 15px;
  padding: 3px;
  border-radius: 0px;
  border: 2px solid black;
  background-color: rgb(230, 230, 230);
  &:focus{
    background-color: white;
  }
}

input{
  @include sistyle();
}

ul{
  list-style: none;
  padding: 0px;
}

:root{
  --primary-font: 'Roboto', sans-serif;
  --coral: lightcoral;
  --green: #559190;
  --yellow: #FCFBE7;
  --blue: #3C67FF;
  --green-icon: rgb(73, 255, 73);
  --blue-icon: blue;
  --yellow-icon: yellow;
  --turquoise-icon: rgb(0, 255, 213);
  --red-icon: red;
  --white-icon: white;
  --black-icon: black;
  --pink-icon: rgb(255, 7, 152);
  --grey-icon: grey;
  --purple-icon: purple;
  --orange-icon: orange;
}

button, input, select {
  &:focus{
    outline: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gob{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  @include center();
  .popup{
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    max-height: 90vh;
    max-width: 90vw;
    overflow-y: scroll;
    .x-button{
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

header{
  padding: 0px 3vw;
  @include row();
  justify-content: space-between;
  h1{
      div{
        margin: 0px;
      }
      #small-header{
          font-size: 18px;
          color: rgb(105, 105, 105)
      }
      #main-header{
          font-size: 30px;
      }
  }
  h2#map-title{
    padding: 7px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 3px 3px 5px lightgrey;
    color: var(--yellow);
    background-color: var(--green);
  }
  .account-button{
    border: none;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 16px;
    @include row();
    .user-icon{
      margin-right: 5px;
      font-size: 20px;
    }
  }
  #save-and-import{
    .save-button{
      background-color: var(--blue);
      border: none;
      padding: 8px 20px;
      border-radius: 5px;
      box-shadow: 3px 3px 5px lightgrey;
      color: white;
      @include hoverer1();
      font-size: 16px;
      font-weight: bold;
      .save-icon{
        margin-right: 5px;
        font-size: 20px;
      }
    }
  }
}


main{
  padding: 0px 3vw;
  min-height: 90vh;
}

#default-frontpage{
  width: 100%;
  height: 100vh;
  @include center();
}

#auth{
  h4{
    font-size: 30px;
    margin: 0px;
    margin-bottom: 30px;
  }
  input{
    display: block;
    margin: 15px 0px;
  }
  .error-message{
    font-size: 10px;
    color:red;
  }
  .auth-buttons{
    button:nth-child(1){
      margin-right: 10px
    }
  }
  
}

#docs-list{
  padding: 0px;
  margin: 20px 0px;
  list-style: none;
  li.single-doc{
    border: 2px solid grey;
    padding: 15px 20px;
    margin: 20px 0px;
    border-radius: 10px;
    h5{
      margin: 0px;
      font-size: 20px
    }
    p{
      margin: 10px 0px ;
    }
  }
}

#scaffold{
  #first-row{
    display: flex;
    justify-content: space-between;
    .right{
      @include col();
      align-items: flex-end;
      .second-row{
        @include row();
        margin-top: 10px;
      }
    }
  }
}

.algorithm-button{
  @include buttonStyle();
  padding: 5px 10px;
  background-color: black;
  color: white;
  font-weight: 100;
  font-size: 14px;
  margin-right: 10px;
}

.import-button{
  padding: 7px 30px;
  background-color: red;
  @include buttonStyle();
  .plus-icon{
    margin-left: 5px;
  }
}

#import-popup{
  padding: 20px;
  max-width: 500px;
  h5{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 26px;
  }
  .file-format, .line-example{
    span{
      font-weight: bold;
      margin-right: 5px;
    }
  }
  .example-files .sample-files-link{
    @include tbstyle();
    color: blue;
    text-decoration: underline;
  }
  .order-box{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-top: 30px;
    background-color: lightgrey;
    position: relative;
    margin: 20px 0px;
    p{
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 5px;
      margin: 0px;
      color: black;
      font-weight: bold;
    }
  }
}

#parameters{
  .first-row{
    @include row();
    h4{
      margin: 0px;
    }
    margin-bottom: 10px;
  }
  #p-list{
    padding: 0px;
    @include row();
    flex-wrap: wrap;
    list-style: none;
    //overflow-x: scroll;
    .param{
      min-width: 100px;
      padding: 4px 15px;
      margin-bottom: 15px;
      @include center();
      background-color: lightgray;
      border-radius: 5px;
      box-shadow: 3px 2px 5px lightgrey;
      margin-right: 20px;
      .p-settings{
        .cogs{
          @include hoverer2();
          margin-left: 5px;
          font-size: 10px;
        }
        position: relative;
        .p-settings-display{
          z-index: 10;
          display: none;
          position: absolute;
          top: 20px;
          left: 0px;
          transform: translateX(-50%);
          background-color:var(--green);
          padding: 5px 10px;
          border-radius: 5px;
        }
        &:hover .p-settings-display{
          @include row();
        }
      }
    }
  }
}

#body{
  display: grid;
  grid-template-columns: 1fr auto;
}


.plus-button{
  background-color: transparent;
  border: none;
  font-size: 20px;
  color:green;
  @include hoverer1();
}

.x-button{
  background-color: transparent;
  border: none;
  font-size: 20px;
  color:red;
  @include hoverer1();
}

.color-box{
  display: block;
  height: 25px;
  width: 25px;
  box-shadow: 2px 2px 3px lightgray;
}

.districts-button{
  @include buttonStyle();
  background-color: rgb(53, 235, 53);
  font-weight: 100;
  font-size: 15px;
  padding: 6px 20px;
  .icon{
    margin-left: 5px;
  }
}

#districts-popup{
  min-width: 300px;
  .first-row{
    input{
      margin: 0px 5px;
      width: 40px;
    }
    .sb{
      margin-left: 5px;
    }
  }
  #districts-list{
    list-style: none;
    padding: 0px;
    .single-district{
      @include row();
      padding: 5px 20px;
      border-radius: 10px;
      border: 2px solid black;
      box-shadow: 3px 3px 5px grey;
      margin: 10px 0px;
      .color-box{
        margin: 0px 10px;
      }
      select{
        font-size: 18px;
        padding: 3px;
        border: none;
        border-bottom: 3px solid black;
        margin-right: 20px;
      }
      .delete-district{
        font-size: 18px;
        font-weight: bold;
        color: rgb(78, 78, 78);
        @include hoverer2();
        border: none;
        background-color: transparent;
      }
    }
  }
}

#map{
  border: 3px solid black;
  box-shadow: 3px 3px 5px grey;
  border-radius: 5px;
  margin: 15px 0px;
  height: 500px;
  width: 100%;
}

#map-hovering{
  background-color: black;
  color: white;
  padding: 5px 10px;
  position: fixed;
  z-index: 10;
}

#focused-precinct{
  padding: 10px 20px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 10px;
  margin: 10px 0px;
  .precinct-name{
    font-size: 20px;
    font-weight: bold;
  }
  .district{
    @include row();
    margin-top: 10px;
    .show-district{
      @include row();
      .color-box{
        margin-right: 5px;
      }
    }
    .switch-button{
      margin-left: 10px;
    }
  }
  .population{
    font-size: 14px;
    color: grey;
    margin: 10px 0px;
  }
  .params ul{
    list-style: none;
    padding: 0px;
    li{
      margin: 5px 0px;
      .param-name{
        font-weight: bold;
        margin-right: 5px;
      }
      .param-value{
        color: grey;
      }
    }
  }

}

.switch-button{
  @include hoverer1();
  font-size: 14px;
  font-weight: 100;
  background-color: lightgrey;
  box-shadow: 0px 0px 3px lightgrey;
  padding: 3px 10px;
  border:none;
  border-radius: 6px      
}

.color-circle{
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 2px 2px 3px grey;
}

#switch-popup{
  min-width: 250px;
  .current-district{
    font-size: 14px;
    @include row();
    .color-circle{
      margin: 0px 5px;
    }
  }
  h5{
    font-size: 18px;
    margin: 20px 0px;
  }
  #switch-list{
    list-style: none;
    padding: 0px;
    li{
      margin: 5px 0px;
      font-size: 16px;
      .select-district{
        @include row();
        .color-circle{
          margin-right: 10px
        }
      }
    }
  }
}

#view-container{
  #menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .menu-item{
      background-color: transparent;
      border: none;
      @include col();
      @include hoverer2();
      h6{
        font-size: 20px;
        margin: 0px;
        margin-bottom: 10px;
      }
      p{
        margin: 0px;
        width: 50%;
        height: 5px;
        background-color: black;
        transition: all 0.2s;
      }
      
      &:hover{
        p{
          width: 70%;
        }
      }

      &.focused{
        opacity: 1;
        p{
          width: 70%;
        }
      }
    }
  }
}


#list-view{
    padding: 0px 30px;
    min-width: 30vw;
  .edit-row{
    @include row();
    justify-content: space-between;
    margin: 0px 0px 5px 0px;
    button:not(.x-button){
      padding: 5px 10px;
      @include buttonStyle();
      font-weight: 100;
      color:white;
      font-size: 14px;
      background-color: black;
    }
  }
  .select-row-two{
    @include row();
    button{
      @include tbstyle();
      color: var(--green);
      margin-left: 15px;
    }
    margin-bottom: 15px;
  }
  .first-row{
    @include row();
    justify-content: space-between;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    margin: 0px;
    margin-bottom: 20px;
    .sort-by{
      select{
        background-color: transparent;
        border: none;
        margin-left: 5px;
      }
    }
    .search{
      input{
        width: 100px;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid black;
        &:focus{
          background-color: transparent;
          border-bottom: 5px solid black;
        }
      }
      button{
        margin-left: 5px;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .edit{
      .icon{
        font-size: 16px;
        margin-left: 5px;
      }
    }
  }
  #searchQuery{
    padding: 5px 15px;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    box-shadow: 2px 2px 5px lightgrey;
    .x-button{
      margin-left: 10px;
    }
  }
}

#precinct-list{
  max-height: 60vh;
  overflow-y: scroll;
  li.single-precinct{
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px grey;
    margin: 10px 0px;
    .main-row{
      @include row();
      justify-content: space-between;
      .precinct-name{
        font-size: 18px;
      }
      .district{
        margin: 0px 20px;
        .show-district{
          @include row();
          .color-box{
            margin-right: 5px;
          }
        }
      }
      // .switch-button{
      //     margin-left: 10;
      // }
      .info-button{
        margin-left: 10px;
        .icon{
          margin-left: 5px;
        }
      }
    }
    .params ul{
      margin: 20px 10px;
      li.param-data{
        margin-bottom: 5px;
        font-size: 14px;
        .param-name{
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
  }
}

.delete-precincts{
  div{
    @include row();
    button:nth-child(1){
      margin-right: 10px
    }
  }
}

#algorithm-popup{
  max-width: 300px;
  h5{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .learn-more{
    a{
      text-decoration: underline;
      @include hoverer1();
      color: rgb(0, 0, 99);
    }
  }
}


#analysis-container{
  min-height: 50vh;
  padding-bottom: 10vh;
  hr{
    margin: 5vh auto;
    width: 90vw;
  }
  .recalc-button-container{
    @include center();
    .recalc-button{
      padding: 8px 15px;
      font-size: 18px;
      border-radius: 10px;
      background-color: lightgrey;
      @include buttonStyle();
      box-shadow: none;
      margin: 5vh 0px;
    }
  }

  #analysis-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    #param-analysis{
      .first-row{
        margin: 20px 0px;
        select{
          padding: 5px;
          border-radius: 5px;
          border: 2px solid grey;
          box-shadow: 2px 2px 5px lightgrey;
        }
      }
      #param-info{
        h3{
          font-size: 30px;
          font-weight: bold;
          margin: 30px 0px;
          text-shadow: 1px 1px 3px grey;
        }
        hr{
          width: 90%;
          margin-right: auto;
        }
        .percent-bar{
          margin: 10px 0px;
        }
        .values-list{
          margin: 30px 0px;
          font-size: 18px;
          li{
            @include row();
            margin: 20px 0px;
            label{
              font-weight: bold;
            }
            p{
              color: grey;
              margin: 0px;
              margin-left: 20px;
            }
          }
          .allData{
            @include buttonStyle();
            padding: 5px 15px;
            border-radius: 10px;
            color:white;
            font-weight: 100;
            background-color: #004C93;
          }
        }
      }
    }
    #district-analysis{
      padding: 30px 20px;
      ul#districts-list{
        li.single-district{
          .district-name{
            @include row();
            font-size: 20px;
            .color-box{
              margin-right: 10px;
            }
          }
          margin: 10px 0px;
          border: 2px solid black;
          padding: 10px 20px;
          border-radius: 10px;
          box-shadow: 3px 3px 5px grey;
          .main-row{
            @include row();
            justify-content: space-between;
          }
          .table{
            li{
              @include row();
              margin: 15px 0px;
              div{
                width: 30%;
                text-align: left;
                color: rgb(95, 95, 95);
              }
              .p-name{
                color: black;
                font-weight: bold;
              }
            }
            .top-row{
              font-weight: bolder
            }
          }
        }
      }
    }
  }
}

.percent-bar{
  border: 3px solid black;
  width: 100%;
  height: 30px;
  position: relative;
  .inner-pb{
    height: 100%;
    background-color: lightgrey;
  }
  label{
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    text-shadow: 1px 1px 2px grey;
    transform:  translate(-50%,-50%);
  }
}



footer{
  @include center();
  background-color: black;
  color:white;
  padding: 10px 0px;
}